:root {
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;
    --color-filter-black: brightness(0);

    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;
    --color-filter-white: brightness(0) invert(1);

    --color-body: var(--color-black);
    --color-body-rgb: var(--color-black-rgb);

    --spacing-8xl: 16rem;
    --spacing-7xl: 14rem;
    --spacing-6xl: 12rem;
    --spacing-5xl: 10rem;
    --spacing-4xl: 8rem;
    --spacing-3xl: 7.2rem;
    --spacing-2xl: 6.4rem;
    --spacing-xl: 6rem;
    --spacing-4lg: 5.6rem;
    --spacing-3lg: 5rem;
    --spacing-2lg: 4.8rem;
    --spacing-lg: 4rem;
    --spacing-2md: 3.6rem;
    --spacing-md: 3rem;
    --spacing-2sm: 2.4rem;
    --spacing-sm: 2rem;
    --spacing-xs: 1.6rem;
    --spacing-2xs: 1.2rem;
    --spacing-3xs: 1rem;
    --spacing-4xs: 0.8rem;
    --spacing-5xs: 0.6rem;
    --spacing-6xs: 0.4rem;
    --spacing-7xs: 0.2rem;
    --spacing-container: var(--spacing-xs);
    --gap-section: var(--spacing-4xl);

    --duration: 0.3s;
    --duration-x2: 0.5s;
    --duration-x3: 1s;
    --duration-x4: 1.5s;
    --timing-function: ease-in-out;
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    overflow: hidden;
}

::-moz-selection {
    background: var(--color-black);
    color: var(--color-white);
}
::selection {
    background: var(--color-black);
    color: var(--color-white);
}

article,
aside,
figcaption,
figure,
picture,
footer,
header,
hgroup,
main,
nav,
section,
dl,
dd {
    display: block;
    margin: 0;
}

@-webkit-keyframes pageAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes pageAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    margin: 0;
    position: relative;
    min-height: 100svh;
    overflow-x: hidden;
    background: var(--color-white);
    color: var(--color-body);
    -webkit-animation-name: pageAnimation;
    animation-name: pageAnimation;
    -webkit-animation-duration: var(--duration-x3);
    animation-duration: var(--duration-x3);
    -webkit-animation-timing-function: var(--timing-function);
    animation-timing-function: var(--timing-function);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    will-change: opacity;
}

button,
input,
textarea,
select {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    min-width: 0;
    font: inherit;
    line-height: normal;
    text-transform: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    text-indent: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
p {
    margin: 0;
}
small {
    font-size: 88.8888888889%;
}
address {
    font-style: normal;
}
ul,
ol {
    list-style: none;
}
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
a,
a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}
a[href^="tel"] {
    white-space: nowrap;
}
a[href^="mailto"] {
    word-break: break-word;
}
a,
button,
[role="button"] {
    cursor: pointer;
}

/* TRANSITION ====================*/
img,
a,
button,
[role="button"],
input,
textarea,
select {
    transition: var(--duration) var(--timing-function);
}

/* MAIN ================================================ */
section {
    overflow: clip;
    position: relative;
    width: 100vw;
}

.sc-inner {
    position: relative;
    width: 100%;
    padding-top: var(--gap-section);
    padding-bottom: var(--gap-section);
}
.sc-inner.pc-t-header {
    padding-top: var(--header-height);
}
.sc-inner.pc-t-0 {
    padding-top: 0;
}
.sc-inner.pc-t-25 {
    padding-top: calc(var(--gap-section) / 4);
}
.sc-inner.pc-t-50 {
    padding-top: calc(var(--gap-section) / 2);
}
.sc-inner.pc-t-75 {
    padding-top: calc(var(--gap-section) * 3 / 4);
}
.sc-inner.pc-t-100 {
    padding-top: var(--gap-section);
}
.sc-inner.pc-t-125 {
    padding-top: calc(var(--gap-section) * 1.25);
}
.sc-inner.pc-t-150 {
    padding-top: calc(var(--gap-section) * 1.5);
}
.sc-inner.pc-t-175 {
    padding-top: calc(var(--gap-section) * 1.75);
}
.sc-inner.pc-t-200 {
    padding-top: calc(var(--gap-section) * 2);
}
.sc-inner.pc-b-header {
    padding-bottom: var(--header-height);
}
.sc-inner.pc-b-0 {
    padding-bottom: 0;
}
.sc-inner.pc-b-25 {
    padding-bottom: calc(var(--gap-section) / 4);
}
.sc-inner.pc-b-50 {
    padding-bottom: calc(var(--gap-section) / 2);
}
.sc-inner.pc-b-75 {
    padding-bottom: calc(var(--gap-section) * 3 / 4);
}
.sc-inner.pc-b-100 {
    padding-bottom: var(--gap-section);
}
.sc-inner.pc-b-125 {
    padding-bottom: calc(var(--gap-section) * 1.25);
}
.sc-inner.pc-b-150 {
    padding-bottom: calc(var(--gap-section) * 1.5);
}
.sc-inner.pc-b-175 {
    padding-bottom: calc(var(--gap-section) * 1.75);
}
.sc-inner.pc-b-200 {
    padding-bottom: calc(var(--gap-section) * 2);
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-container);
    padding-right: var(--spacing-container);
}

[class*="block-content-"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    max-width: 52.8rem;
}
.block-content-start {
    align-items: flex-start;
    text-align: start;
}
.block-content-center {
    align-items: center;
    text-align: center;
    text-wrap: balance;
}
.block-content-end {
    align-items: flex-end;
    text-align: end;
}

.block-ttl > * {
    transition: var(--duration) var(--timing-function);
}

.block-desc > * {
    transition: var(--duration) var(--timing-function);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* FORM ================================================ */
.field {
    position: relative;
}

/* POPUP ======================================== */
.popup {
    width: 100%;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    background: white;
    padding: var(--spacing-sm);
    border-radius: 0.8rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}
