:root {
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;
    --color-filter-black: brightness(0);

    --color-gray-dark: #161616;
    --color-gray-dark-rgb: 22, 22, 22;

    --color-gray-dark-2: #404040;
    --color-gray-dark-2-rgb: 64, 64, 64;

    --color-gray-dark-3: #5a5a5a;
    --color-gray-dark-3-rgb: 90, 90, 90;

    --color-mid-gray: #999999;
    --color-mid-gray-rgb: 153, 153, 153;

    --color-gray: #a8a8a8;
    --color-gray-rgb: 168, 168, 168;

    --color-gray-2: #eeeeee;
    --color-gray-2-rgb: 238, 238, 238;

    --color-light-gray: #f4f4f4;
    --color-light-gray-rgb: 244, 244, 244;

    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;
    --color-filter-white: brightness(0) invert(1);

    --color-green: #179149;
    --color-green-rgb: 23, 145, 73;

    --color-light-green: #17b85a;
    --color-light-green-rgb: 23, 184, 90;

    --color-red: #ff0000;
    --color-red-rgb: 255, 0, 0;

    --color-dark-red: #cd0511;
    --color-dark-red-rgb: 205, 5, 17;

    --spacing-8xl: 16rem;
    --spacing-7xl: 14rem;
    --spacing-6xl: 12rem;
    --spacing-5xl: 10rem;
    --spacing-4xl: 8rem;
    --spacing-3xl: 7.2rem;
    --spacing-2xl: 6.4rem;
    --spacing-xl: 6rem;
    --spacing-4lg: 5.6rem;
    --spacing-3lg: 5rem;
    --spacing-2lg: 4.8rem;
    --spacing-lg: 4rem;
    --spacing-2md: 3.6rem;
    --spacing-md: 3rem;
    --spacing-2sm: 2.4rem;
    --spacing-sm: 2rem;
    --spacing-xs: 1.6rem;
    --spacing-2xs: 1.2rem;
    --spacing-3xs: 1rem;
    --spacing-4xs: 0.8rem;
    --spacing-5xs: 0.6rem;
    --spacing-6xs: 0.4rem;
    --spacing-7xs: 0.2rem;
    --spacing-container: var(--spacing-lg);
    --container-max-width: 1400rem;
    --gap-section: var(--spacing-4xl);
    --logo-height: 5.8rem;
    --header-height: 13.2rem;
    --input-height: 4.2rem;
    --button-height: 5.4rem;
    --input-spacing-x: var(--spacing-2xs);
    --input-spacing-y: var(--spacing-5xs);

    --duration: 0.3s;
    --duration-x2: 0.5s;
    --duration-x3: 1s;
    --duration-x4: 1.5s;
    --timing-function: ease-in-out;

    --border-width: 0.1rem;
    --border-style: solid;
    --border-color: rgba(var(--color-black-rgb), 0.2);

    --font-body: "Open Sans", sans-serif;
    --font-heading: "Sofia Sans Condensed", sans-serif;

    --font-size-h1: 7rem;
    --font-size-h2: 5rem;
    --font-size-h3: 2.4rem;
    --font-size-h4: 2rem;
    --font-size-h5: 1.8rem;
    --font-size-h6: 1.6rem;
    --font-size-body: 1.6rem;
    --font-size-description: 1.4rem;
    --font-size-small: 1.2rem;
    --font-size-extra-small: 1.1rem;
    --font-size-tiny: 1rem;

    --line-height-h1: 1;
    --line-height-h2: 1.2;
    --line-height-h3: 1.2;
    --line-height-h4: 1.2;
    --line-height-h5: 1.2;
    --line-height-h6: 1.2;
    --line-height-body: 1.2;
    --line-height-description: 1.85;
    --line-height-small: 1.2;
    --line-height-extra-small: 1.2;
    --line-height-tiny: 1.2;
    --line-height-extra-tiny: 1.2;

    --icon-size-4xs: 1rem;
    --icon-size-3xs: 1.2rem;
    --icon-size-2xs: 1.4rem;
    --icon-size-xs: 1.6rem;
    --icon-size-xxs: 1.8rem;
    --icon-size-sm: 2rem;
    --icon-size-md: 2.6rem;
    --icon-size-lg: 3rem;
    --icon-size-xl: 3.2rem;
    --icon-size-2xl: 3.6rem;
    --icon-size-3xl: 4rem;
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    overflow: hidden;
}

::-moz-selection {
    background: var(--color-black);
    color: var(--color-white);
}
::selection {
    background: var(--color-black);
    color: var(--color-white);
}

article,
aside,
figcaption,
figure,
picture,
footer,
header,
hgroup,
main,
nav,
section,
dl,
dd,
pre {
    display: block;
    margin: 0;
}

pre {
    display: inline-block;
}

@-webkit-keyframes pageAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes pageAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: var(--font-body);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    font-weight: 400;
    margin: 0;
    position: relative;
    min-height: 100svh;
    overflow-x: hidden;
    background: var(--color-gray-dark);
    color: var(--color-black);
    -webkit-animation-name: pageAnimation;
    animation-name: pageAnimation;
    -webkit-animation-duration: var(--duration-x2);
    animation-duration: var(--duration-x2);
    -webkit-animation-timing-function: var(--timing-function);
    animation-timing-function: var(--timing-function);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    will-change: opacity;
}

button,
input,
textarea,
select {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    min-width: 0;
    font: inherit;
    line-height: normal;
    text-transform: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    text-indent: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
p {
    margin: 0;
}
small {
    font-size: 88.8888888889%;
}
address {
    font-style: normal;
}
ul,
ol {
    list-style: none;
}
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
a,
a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}
a[href^="tel"] {
    white-space: nowrap;
}
a[href^="mailto"] {
    word-break: break-word;
}
a,
button,
[role="button"] {
    cursor: pointer;
}
img {
    border: 0;
    outline: 0;
    height: auto;
    width: auto;
    max-width: 100%;
    vertical-align: middle;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
}
.font-body {
    font-family: var(--font-body) !important;
}

.font-heading {
    font-family: var(--font-heading) !important;
}
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}

.size-h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-family: var(--font-heading);
}
.size-h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    font-family: var(--font-heading);
}
.size-h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}
.size-h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}
.size-h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
}
.size-h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
}

.size-body {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
}
.size-description {
    font-size: var(--font-size-description);
    line-height: var(--line-height-description);
}
.size-small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}
.size-extra-small {
    font-size: var(--font-size-extra-small);
    line-height: var(--line-height-extra-small);
}
.size-tiny {
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
}
.size-extra-tiny {
    font-size: var(--font-size-extra-tiny);
    line-height: var(--line-height-extra-tiny);
}

.weight-bold {
    font-weight: 700;
}
.weight-semibold {
    font-weight: 600;
}
.weight-medium {
    font-weight: 500;
}
.weight-regular {
    font-weight: 400;
}
.weight-light {
    font-weight: 300;
}
.weight-thin {
    font-weight: 200;
}
.weight-extra-light {
    font-weight: 100;
}

.size-icon-4xs {
    font-size: var(--icon-size-4xs);
}
.size-icon-3xs {
    font-size: var(--icon-size-3xs);
}
.size-icon-2xs {
    font-size: var(--icon-size-2xs);
}
.size-icon-xs {
    font-size: var(--icon-size-xs);
}
.size-icon-xxs {
    font-size: var(--icon-size-xxs);
}
.size-icon-sm {
    font-size: var(--icon-size-sm);
}
.size-icon-md {
    font-size: var(--icon-size-md);
}
.size-icon-lg {
    font-size: var(--icon-size-lg);
}
.size-icon-xl {
    font-size: var(--icon-size-xl);
}
.size-icon-2xl {
    font-size: var(--icon-size-2xl);
}
.size-icon-3xl {
    font-size: var(--icon-size-3xl);
}

.c-black {
    color: var(--color-black);
}
.c-mid-gray {
    color: var(--color-mid-gray);
}
.c-gray {
    color: var(--color-gray);
}
.c-light-gray {
    color: var(--color-light-gray);
}
.c-white {
    color: var(--color-white);
}
.c-green {
    color: var(--color-green);
}
.c-red {
    color: var(--color-red);
}
.c-dark-red {
    color: var(--color-dark-red);
}
.c-gold-gradient {
    background: -webkit-linear-gradient(0deg, #fcd678 0%, #bc8c2f 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ic,
.ic-name {
    display: inline-block;
}
.ic::before {
    display: block;
}
.ic-youtube:before,
.ic-envelope:before {
    transform: scale(1.2);
    display: block;
    margin: 0 0.1em;
}

/* TRANSITION ====================*/
img,
a,
button,
[role="button"],
input,
textarea,
select,
.label.anim,
.ic:before {
    transition: var(--duration) var(--timing-function);
}

html.resizing * {
    transition: none !important;
}

/* MAIN ================================================ */
#layout {
    display: grid;
    min-height: 100svh;
    grid-template-rows: 1fr auto;
    background-color: var(--color-light-gray);
}

section {
    overflow: clip;
    position: relative;
    width: 100vw;
}

section.header-margin {
    margin-top: var(--header-height);
}

section.header-padding {
    padding-top: var(--header-height);
}

.sc-inner {
    position: relative;
    width: 100%;
    padding-top: var(--gap-section);
    padding-bottom: var(--gap-section);
}
.sc-inner.pc-t-header {
    padding-top: var(--header-height);
}
.sc-inner.pc-t-0 {
    padding-top: 0;
}
.sc-inner.pc-t-25 {
    padding-top: calc(var(--gap-section) / 4);
}
.sc-inner.pc-t-50 {
    padding-top: calc(var(--gap-section) / 2);
}
.sc-inner.pc-t-75 {
    padding-top: calc(var(--gap-section) * 3 / 4);
}
.sc-inner.pc-t-100 {
    padding-top: var(--gap-section);
}
.sc-inner.pc-t-125 {
    padding-top: calc(var(--gap-section) * 1.25);
}
.sc-inner.pc-t-150 {
    padding-top: calc(var(--gap-section) * 1.5);
}
.sc-inner.pc-t-175 {
    padding-top: calc(var(--gap-section) * 1.75);
}
.sc-inner.pc-t-200 {
    padding-top: calc(var(--gap-section) * 2);
}
.sc-inner.pc-b-header {
    padding-bottom: var(--header-height);
}
.sc-inner.pc-b-0 {
    padding-bottom: 0;
}
.sc-inner.pc-b-25 {
    padding-bottom: calc(var(--gap-section) / 4);
}
.sc-inner.pc-b-50 {
    padding-bottom: calc(var(--gap-section) / 2);
}
.sc-inner.pc-b-75 {
    padding-bottom: calc(var(--gap-section) * 3 / 4);
}
.sc-inner.pc-b-100 {
    padding-bottom: var(--gap-section);
}
.sc-inner.pc-b-125 {
    padding-bottom: calc(var(--gap-section) * 1.25);
}
.sc-inner.pc-b-150 {
    padding-bottom: calc(var(--gap-section) * 1.5);
}
.sc-inner.pc-b-175 {
    padding-bottom: calc(var(--gap-section) * 1.75);
}
.sc-inner.pc-b-200 {
    padding-bottom: calc(var(--gap-section) * 2);
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-container);
    padding-right: var(--spacing-container);
}

[class*="block-content-"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    max-width: 52.8rem;
}
.block-content-start {
    align-items: flex-start;
    text-align: start;
}
.block-content-center {
    align-items: center;
    text-align: center;
    text-wrap: balance;
}
.block-content-end {
    align-items: flex-end;
    text-align: end;
}

.block-ttl > * {
    transition: var(--duration) var(--timing-function);
}

.block-desc > * {
    transition: var(--duration) var(--timing-function);
}

.sc-ttl {
    text-align: center;
    text-wrap: balance;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden !important;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
*:is(
        .object,
        .object-fit,
        .object-auto,
        .object-contain,
        .object-fill-height,
        .object-fill-width
    ) {
    text-decoration: none !important;
    box-shadow: none !important;
    background-image: none !important;
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
}
.object-fit > *:is(img, video, iframe) {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.spinner {
    position: relative;
    width: var(--font-size-body, 1.2rem);
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.2rem solid rgba(var(--color-black-rgb), 0.2);
    border-top-color: transparent;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.card-container {
    --gap-x: 0rem;
    --gap-y: 0rem;
    --column: 1;
    --minmax: 0rem;
    position: relative;
}

.card-container[data-card-layout="grid"] {
    display: grid;
    grid-gap: var(--gap-y) var(--gap-x);
    grid-template-columns: repeat(
        var(--column),
        calc((100% - (var(--gap-x) * (var(--column) - 1))) / var(--column))
    );
    grid-auto-flow: dense;
}

.card-container[data-card-layout="grid-minmax"] {
    display: grid;
    grid-gap: var(--gap-y) var(--gap-x);
    grid-template-columns: repeat(auto-fill, minmax(var(--minmax), 1fr));
    grid-auto-flow: dense;
}

.card-container[data-card-layout="flex"] {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--gap-y) var(--gap-x);
}
.card-container[data-card-layout="flex"] > .card {
    width: calc((100% - (var(--gap-x) * (var(--column) - 1))) / var(--column));
}

.card-container[data-card-layout="slider"] {
    margin-left: calc((var(--gap-x) * -1) / 2);
    margin-right: calc((var(--gap-x) * -1) / 2);
}
.card-container[data-card-layout="slider"] .swiper-slide {
    width: calc(100% / var(--column)) !important;
    padding-left: calc(var(--gap-x) / 2);
    padding-right: calc(var(--gap-x) / 2);
}
.card-container[data-card-layout="slider"] .swiper-button-prev {
    transform: translateX(calc((var(--gap-y)) / 2));
}
.card-container[data-card-layout="slider"] .swiper-button-next {
    transform: translateX(calc((var(--gap-x) * -1) / 2));
}

.card {
    width: 100%;
    display: block;
    position: relative;
}

.card-content {
    display: flex;
    flex-direction: column;
}

/* HEADER ================================================ */
#header {
    user-select: none;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--color-gray-dark);
    color: var(--color-gray-2);
}

html.no-touchevents #header a:hover {
    color: rgba(var(--color-gray-2-rgb), 0.6);
}

.header-nav {
    height: var(--header-height);
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--spacing-container);
    display: flex;
    flex-direction: column;
    /* gap: var(--spacing-3xs); */
    justify-content: center;
}

.header-content-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:first-child {
        align-items: flex-end;
    }
}

.header-content-row .logo-desc {
    margin-bottom: var(--spacing-3xs);
}

.header-cta {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.header-cta .download-app {
    display: flex;
    align-items: center;
    gap: var(--spacing-2xs);
    height: 2.9rem;
    padding: 0 var(--spacing-4xs);
    border-radius: 0.4rem;
    border: 0.1rem solid var(--color-gray-dark-3);
    background-color: transparent;
    transition: var(--duration) var(--timing-function);

    .ic {
        color: var(--color-gray);
    }
}

html.no-touchevents .header-cta .download-app:hover {
    background-color: var(--color-gray-dark-3);
    color: var(--color-white) !important;

    .ic {
        color: var(--color-white);
    }
}

.header-cta .cta-items {
    display: flex;
    align-items: center;
}

.header-cta .cta-items .cta-item {
    margin: 0 var(--spacing-xs);
    position: relative;
    font-size: var(--font-size-description);
    line-height: var(--line-height-description);

    &:after {
        content: "";
        display: block;
        width: 0.1rem;
        height: 60%;
        background-color: var(--color-gray-dark-2);
        position: absolute;
        top: 50%;
        right: calc(var(--spacing-xs) * -1);
        transform: translateY(-50%);
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
        line-height: 1;
    }

    &:last-child:after {
        content: none;
    }
}

.header-cta .language-selector-button .flag,
.header-cta .language-list .language-item .flag {
    width: 1.7rem;
    border-radius: 0.4rem;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.header-cta .language-selector .popup {
    width: 5.5rem;

    .popup-content {
        padding: var(--spacing-4xs);
    }
}

.header-cta .language-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xs);
    color: var(--color-black);
}

.header-cta .language-list .language-item {
    font-size: var(--font-size-extra-small);
    line-height: var(--line-height-extra-small);
    display: flex;
    gap: var(--spacing-5xs);
    align-items: center;
    opacity: 0.6;
    transition: opacity var(--duration) var(--timing-function);
}

.header-cta .language-list .language-item.active {
    opacity: 1;
}

.header-logo {
    flex-shrink: 0;
    height: var(--logo-height);
    width: auto;
    aspect-ratio: 2.05172413793;
}

.header-menu {
    flex-grow: 1;
    margin-left: min(5.5555555556vw, var(--spacing-4xl));

    .menu {
        display: flex;
        gap: var(--spacing-lg);
        align-items: center;
    }
}

.panel-body {
    display: flex;
    justify-content: space-between;
}

.header-customer {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;
}

.header-customer .customer-login,
.header-customer .customer-register {
    height: 3.5rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--spacing-sm);
    transition: var(--duration) var(--timing-function);
}

.header-customer .customer-login {
    border: 0.1rem solid var(--color-red);
}

html.no-touchevents .header-customer .customer-login:hover {
    background-color: var(--color-red);
    color: var(--color-white) !important;
}

.header-customer .customer-register {
    background-color: var(--color-green);
}

html.no-touchevents .header-customer .customer-register:hover {
    background-color: var(--color-light-green);
    color: var(--color-white) !important;
}

/* HAMBURGER ====================*/
.hamburger {
    --hamburger-size: 3rem;
    --hamburger-stroke-width: 0.2rem;
    --rgb: var(--color-white-rgb);
    position: relative;
    display: block;
    width: auto;
    height: auto;
    line-height: 1;
}
.hamburger .bars {
    display: block;
    width: var(--hamburger-size);
    height: var(--hamburger-size);
    position: relative;
    transform: rotate(0deg);
    transition: var(--duration) var(--timing-function);
    cursor: pointer;
}
.hamburger .bars > .bar {
    display: block;
    position: absolute;
    width: 100%;
    height: var(--hamburger-stroke-width);
    background: rgba(var(--rgb), 1);
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: var(--duration) var(--timing-function);
}
.hamburger .bars > .bar:nth-child(1) {
    top: calc(
        (var(--hamburger-size) / 4) - (var(--hamburger-stroke-width) / 2)
    );
}
.hamburger .bars > .bar:is(:nth-child(2), :nth-child(3)) {
    top: calc(
        (var(--hamburger-size) / 2) - (var(--hamburger-stroke-width) / 2)
    );
}
.hamburger .bars > .bar:nth-child(4) {
    top: calc(
        (var(--hamburger-size) / 4) * 3 - (var(--hamburger-stroke-width) / 2)
    );
}
html.header-menu-enabled
    .hamburger
    .bars
    > .bar:is(:nth-child(1), :nth-child(4)) {
    top: calc(
        (var(--hamburger-size) / 2) - (var(--hamburger-stroke-width) / 2)
    );
    left: 50%;
    width: 0%;
}
html.header-menu-enabled .hamburger .bars > .bar:nth-child(2) {
    transform: rotate(45deg);
}
html.header-menu-enabled .hamburger .bars > .bar:nth-child(3) {
    transform: rotate(-45deg);
}

/* FOOTER ================================================ */
#footer {
    background-color: var(--color-gray-dark);
    color: var(--color-mid-gray);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.footer-nav {
    display: flex;
    gap: var(--spacing-xl);
    padding: var(--spacing-2lg) var(--spacing-container) var(--spacing-5xl);

    .content-ttl {
        color: var(--color-white);
        font-weight: 700;
        margin-bottom: var(--spacing-2xs);
    }

    .footer-links {
        flex-shrink: 0;
    }

    .footer-disclaimer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-cta {
        margin-top: var(--spacing-md);

        .app-cta {
            display: flex;
            gap: var(--spacing-4xs);

            .app-cta-item {
                height: 3.9rem;
                width: auto;
                aspect-ratio: 2.9743589744;

                *:is(img, video) {
                    object-fit: contain;
                }
            }
        }
    }
}

.social {
    display: flex;
    gap: var(--spacing-5xs) var(--spacing-3xs);
    align-items: center;
}

/* FORM ================================================ */
*:is(input, textarea, select, .input) {
    background: transparent;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--color-mid-gray);
    font-family: var(--font-body);
    font-weight: 400;
    font-size: var(--font-size-body);
    line-height: normal;
    text-transform: inherit;
    text-align: left;
    letter-spacing: inherit;
    text-indent: inherit;
    color: var(--color-black);
    display: block;
    width: 100%;
    height: var(--input-height);
    padding: var(--input-spacing-y) var(--input-spacing-x);

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.field {
    position: relative;
}

.subfield {
    flex-shrink: 0;
    position: relative;
}

.subfield.grow {
    flex-grow: 1;
}

.field-error {
    margin-top: var(--spacing-5xs);
    color: var(--color-red);
    font-size: var(--font-size-extra-small);
    line-height: var(--line-height-extra-small);
}

.label {
    padding: 0;
    border: 0;
    border-radius: 0;
    position: relative;
    display: block;
    font-family: var(--font-body);
    font-weight: 400;
    font-size: inherit;
    text-transform: none;
    color: currentColor;
    opacity: 1;
}

.label.anim {
    height: auto;
    width: fit-content;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: calc(var(--input-spacing-x) / 2);
    top: calc(var(--input-height) / 2);
    transform: translateY(-50%);
    padding: 0 calc(var(--input-spacing-x) / 2);
    pointer-events: none;
    background-color: var(--color-white);
}

.field.filled .label.anim.fixed {
    top: 0;
    transform: translateY(-50%);
    font-size: var(--font-size-extra-small);
    opacity: var(--opacity);
}

.checkbox {
    display: flex;
    align-items: center;
    grid-gap: var(--spacing-5xs);
}

.checkbox input[type="checkbox"] {
    --input-height: 20px;
    box-shadow: unset;
    border: none;
    background: none;
    padding: inherit;
    margin: unset;
    min-width: unset;
    font: inherit;
    line-height: normal;
    text-align: center;
    width: unset;
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.05em solid currentColor;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    transform-origin: center;
    box-shadow: inset 1em 1em currentColor;
    clip-path: polygon(16% 48%, 10% 60%, 48% 90%, 92% 20%, 80% 10%, 45% 70%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

/* POPUP ======================================== */
.popup {
    width: 100%;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.popup[data-position-pc="center"] {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}
.popup[data-position-pc="start"] {
    left: 0;
    right: auto;
}
.popup[data-position-pc="end"] {
    right: 0;
    left: auto;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    background: white;
    padding: var(--spacing-sm);
    border-radius: 0.8rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* ACCORDION ======================================== */
.accordion {
    --padding-y: var(--spacing-sm);
    --padding-left: var(--spacing-3xl);
    --padding-right: var(--spacing-3lg);
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}
.accordion .entry-panel {
    height: 0;
    overflow: hidden;
    transition: height var(--duration) var(--timing-function);
}

.accordion.active .entry-panel {
    height: var(--accordion-height);
}

.accordion .entry-panel-inner {
    padding: var(--padding-y) var(--padding-left) var(--padding-y)
        var(--padding-right);
}

.accordion > .entry-title {
    width: 100%;
    font-family: var(--font-body);
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
    font-weight: 600;
    color: inherit;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0;
    padding: var(--padding-y) var(--padding-left) var(--padding-y)
        var(--padding-right);
    transition: var(--duration) var(--timing-function);
    cursor: pointer;
}
.accordion > .entry-title:before {
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: #b9b7b7;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity var(--duration) var(--timing-function);
}
.accordion.active > .entry-title:before {
    opacity: 1;
}
.accordion.active > .entry-title {
    color: inherit;
}
.accordion > .entry-title:after {
    font-family: "iconfont";
    content: "\e908";
    font-size: var(--icon-size-sm);
    font-weight: normal;
    line-height: 1;
    display: block;
    margin-left: auto;
    pointer-events: none;
    transition: var(--duration) var(--timing-function);
}
.accordion.active > .entry-title:after {
    transform: rotate(-180deg);
}

/* BUTTON ======================================== */
.button {
    --button-border: none;
    --button-hover-border: none;
    --button-bg: var(--color-green);
    --button-hover-bg: var(--color-light-green);
    --button-color: var(--color-white);
    --button-hover-color: var(--color-white);
    margin: 0;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-gap: var(--spacing-2xs);
    max-width: 100%;
    min-width: 30.7rem;
    height: var(--button-height);
    padding: 0 var(--spacing-4xs);
    color: var(--button-color);
    background: var(--button-bg);
    border: var(--button-border);
    border-radius: 0.4rem;
    overflow: hidden;
    font-family: var(--font-body);
    font-weight: 700;
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
    text-align: center;
    transition: var(--duration) var(--timing-function);
    text-transform: uppercase;
}

html.no-touchevents .button:hover {
    border: var(--button-hover-border);
    background: var(--button-hover-bg);
    color: var(--button-hover-color);
}

/* COMPONENT ================================ */
.template-section .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4xl);
    align-items: center;
    max-width: var(--container-max-width);
}

.template-section .sc-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-2xs);
}
