:root {
    --color-black: #000000;
    --color-black-rgb: 0, 0, 0;
    --color-filter-black: brightness(0);

    --color-gray-dark: #161616;
    --color-gray-dark-rgb: 22, 22, 22;

    --color-light-gray: #f4f4f4;
    --color-light-gray-rgb: 244, 244, 244;

    --color-white: #ffffff;
    --color-white-rgb: 255, 255, 255;
    --color-filter-white: brightness(0) invert(1);

    --color-green: #179149;
    --color-green-rgb: 23, 145, 73;

    --color-red: #ff0000;
    --color-red-rgb: 255, 0, 0;

    --color-body: var(--color-black);
    --color-body-rgb: var(--color-black-rgb);

    --spacing-8xl: 16rem;
    --spacing-7xl: 14rem;
    --spacing-6xl: 12rem;
    --spacing-5xl: 10rem;
    --spacing-4xl: 8rem;
    --spacing-3xl: 7.2rem;
    --spacing-2xl: 6.4rem;
    --spacing-xl: 6rem;
    --spacing-4lg: 5.6rem;
    --spacing-3lg: 5rem;
    --spacing-2lg: 4.8rem;
    --spacing-lg: 4rem;
    --spacing-2md: 3.6rem;
    --spacing-md: 3rem;
    --spacing-2sm: 2.4rem;
    --spacing-sm: 2rem;
    --spacing-xs: 1.6rem;
    --spacing-2xs: 1.2rem;
    --spacing-3xs: 1rem;
    --spacing-4xs: 0.8rem;
    --spacing-5xs: 0.6rem;
    --spacing-6xs: 0.4rem;
    --spacing-7xs: 0.2rem;
    --spacing-container: var(--spacing-2sm);
    --container-max-width: 136.8rem;
    --gap-section: var(--spacing-4xl);
    --header-height: 13.2rem;

    --duration: 0.3s;
    --duration-x2: 0.5s;
    --duration-x3: 1s;
    --duration-x4: 1.5s;
    --timing-function: ease-in-out;

    --border-width: 0.1rem;
    --border-style: solid;
    --border-color: rgba(var(--color-black-rgb), 0.2);

    --font-body: "Open Sans", sans-serif;
    --font-heading: "Sofia Sans Condensed", sans-serif;

    --font-size-h1: 7rem;
    --font-size-h2: 5rem;
    --font-size-h3: 2.4rem;
    --font-size-h4: 2rem;
    --font-size-h5: 1.8rem;
    --font-size-h6: 1.6rem;
    --font-size-body: 1.6rem;
    --font-size-description: 1.4rem;
    --font-size-small: 1.2rem;
    --font-size-extra-small: 1.1rem;
    --font-size-tiny: 1rem;

    --line-height-h1: 1.2;
    --line-height-h2: 1.2;
    --line-height-h3: 1.2;
    --line-height-h4: 1.2;
    --line-height-h5: 1.2;
    --line-height-h6: 1.2;
    --line-height-body: 1.2;
    --line-height-description: 1.2;
    --line-height-small: 1.2;
    --line-height-extra-small: 1.2;
    --line-height-tiny: 1.2;
    --line-height-extra-tiny: 1.2;
}

html {
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
    overflow: hidden;
}

::-moz-selection {
    background: var(--color-black);
    color: var(--color-white);
}
::selection {
    background: var(--color-black);
    color: var(--color-white);
}

article,
aside,
figcaption,
figure,
picture,
footer,
header,
hgroup,
main,
nav,
section,
dl,
dd {
    display: block;
    margin: 0;
}

@-webkit-keyframes pageAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes pageAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: var(--font-body);
    margin: 0;
    position: relative;
    min-height: 100svh;
    overflow-x: hidden;
    background: var(--color-light-gray);
    color: var(--color-black);
    -webkit-animation-name: pageAnimation;
    animation-name: pageAnimation;
    -webkit-animation-duration: var(--duration-x2);
    animation-duration: var(--duration-x2);
    -webkit-animation-timing-function: var(--timing-function);
    animation-timing-function: var(--timing-function);
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    will-change: opacity;
}

button,
input,
textarea,
select {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    min-width: 0;
    font: inherit;
    line-height: normal;
    text-transform: inherit;
    text-align: inherit;
    letter-spacing: inherit;
    text-indent: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}
p {
    margin: 0;
}
small {
    font-size: 88.8888888889%;
}
address {
    font-style: normal;
}
ul,
ol {
    list-style: none;
}
ul,
ol,
li {
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
}
a,
a:hover,
a:focus {
    outline: 0;
    text-decoration: none;
    box-shadow: none;
}
a[href^="tel"] {
    white-space: nowrap;
}
a[href^="mailto"] {
    word-break: break-word;
}
a,
button,
[role="button"] {
    cursor: pointer;
}

.size-h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-family: var(--font-heading);
}
.size-h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    font-family: var(--font-heading);
}
.size-h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
}
.size-h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}
.size-h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
}
.size-h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
}

.size-body {
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
}
.size-description {
    font-size: var(--font-size-description);
    line-height: var(--line-height-description);
}
.size-small {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
}
.size-extra-small {
    font-size: var(--font-size-extra-small);
    line-height: var(--line-height-extra-small);
}
.size-tiny {
    font-size: var(--font-size-tiny);
    line-height: var(--line-height-tiny);
}
.size-extra-tiny {
    font-size: var(--font-size-extra-tiny);
    line-height: var(--line-height-extra-tiny);
}

.weight-bold {
    font-weight: 700;
}
.weight-semibold {
    font-weight: 600;
}
.weight-medium {
    font-weight: 500;
}
.weight-regular {
    font-weight: 400;
}
.weight-light {
    font-weight: 300;
}
.weight-thin {
    font-weight: 200;
}
.weight-extra-light {
    font-weight: 100;
}

/* TRANSITION ====================*/
img,
a,
button,
[role="button"],
input,
textarea,
select {
    transition: var(--duration) var(--timing-function);
}

/* MAIN ================================================ */
#layout {
    display: grid;
    min-height: 100svh;
    grid-template-rows: 1fr auto;
}

section {
    overflow: clip;
    position: relative;
    width: 100vw;
}

section.header-margin {
    margin-top: var(--header-height);
}

section.header-padding {
    padding-top: var(--header-height);
}

.sc-inner {
    position: relative;
    width: 100%;
    padding-top: var(--gap-section);
    padding-bottom: var(--gap-section);
}
.sc-inner.pc-t-header {
    padding-top: var(--header-height);
}
.sc-inner.pc-t-0 {
    padding-top: 0;
}
.sc-inner.pc-t-25 {
    padding-top: calc(var(--gap-section) / 4);
}
.sc-inner.pc-t-50 {
    padding-top: calc(var(--gap-section) / 2);
}
.sc-inner.pc-t-75 {
    padding-top: calc(var(--gap-section) * 3 / 4);
}
.sc-inner.pc-t-100 {
    padding-top: var(--gap-section);
}
.sc-inner.pc-t-125 {
    padding-top: calc(var(--gap-section) * 1.25);
}
.sc-inner.pc-t-150 {
    padding-top: calc(var(--gap-section) * 1.5);
}
.sc-inner.pc-t-175 {
    padding-top: calc(var(--gap-section) * 1.75);
}
.sc-inner.pc-t-200 {
    padding-top: calc(var(--gap-section) * 2);
}
.sc-inner.pc-b-header {
    padding-bottom: var(--header-height);
}
.sc-inner.pc-b-0 {
    padding-bottom: 0;
}
.sc-inner.pc-b-25 {
    padding-bottom: calc(var(--gap-section) / 4);
}
.sc-inner.pc-b-50 {
    padding-bottom: calc(var(--gap-section) / 2);
}
.sc-inner.pc-b-75 {
    padding-bottom: calc(var(--gap-section) * 3 / 4);
}
.sc-inner.pc-b-100 {
    padding-bottom: var(--gap-section);
}
.sc-inner.pc-b-125 {
    padding-bottom: calc(var(--gap-section) * 1.25);
}
.sc-inner.pc-b-150 {
    padding-bottom: calc(var(--gap-section) * 1.5);
}
.sc-inner.pc-b-175 {
    padding-bottom: calc(var(--gap-section) * 1.75);
}
.sc-inner.pc-b-200 {
    padding-bottom: calc(var(--gap-section) * 2);
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--spacing-container);
    padding-right: var(--spacing-container);
}

[class*="block-content-"] {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    max-width: 52.8rem;
}
.block-content-start {
    align-items: flex-start;
    text-align: start;
}
.block-content-center {
    align-items: center;
    text-align: center;
    text-wrap: balance;
}
.block-content-end {
    align-items: flex-end;
    text-align: end;
}

.block-ttl > * {
    transition: var(--duration) var(--timing-function);
}

.block-desc > * {
    transition: var(--duration) var(--timing-function);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.spinner {
    position: relative;
    width: var(--font-size-body, 1.2rem);
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0.2rem solid rgba(var(--color-black-rgb), 0.2);
    border-top-color: transparent;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* HEADER ================================================ */
#header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--color-gray-dark);
}

.header-nav {
    height: var(--header-height);
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 var(--spacing-container);
}

/* FOOTER ================================================ */

/* FORM ================================================ */
*:is(input, textarea, select) {
    background: none;
    border-radius: 0;
    border: 0.1rem solid var(--color-black);
    font-family: var(--font-body);
    font-weight: 400;
    font-size: var(--font-size-body);
    line-height: normal;
    text-transform: inherit;
    text-align: left;
    letter-spacing: inherit;
    text-indent: inherit;
    color: var(--color-body);
    display: block;
    width: 100%;
    height: var(--input-height);
    padding: var(--input-spacing-y) var(--input-spacing-x);
}

.field {
    position: relative;
}

.subfield {
    flex-shrink: 0;
}

.subfield.grow {
    flex-grow: 1;
}

.field-error {
    color: var(--color-red);
}

/* POPUP ======================================== */
.popup {
    width: 100%;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.popup.active {
    opacity: 1;
    pointer-events: auto;
}

.popup-content {
    background: white;
    padding: var(--spacing-sm);
    border-radius: 0.8rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* ACCORDION ======================================== */
.accordion {
    border-bottom: var(--border-width) var(--border-style) var(--border-color);
}
.accordion .entry-panel {
    height: 0;
    overflow: hidden;
    transition: height var(--duration) var(--timing-function);
}

.accordion.active .entry-panel {
    height: var(--accordion-height);
}

.accordion .entry-panel-inner {
    padding-bottom: var(--spacing-2sm);
}

.accordion > .entry-title {
    width: 100%;
    font-family: var(--font-heading);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
    color: inherit;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0;
    padding: var(--spacing-2sm) 0;
    transition: var(--duration) var(--timing-function);
    cursor: pointer;
}
.accordion.active > .entry-title {
    color: inherit;
}
.accordion > .entry-title:after {
    font-family: "iconfont";
    content: "\e908";
    font-size: var(--icon-size-sm);
    font-weight: normal;
    line-height: 1;
    display: block;
    margin-left: auto;
    pointer-events: none;
    transition: var(--duration) var(--timing-function);
}
.accordion.active > .entry-title:after {
    transform: rotate(-180deg);
}
