/* PAGE: HOMEPAGE */
/* HOMEPAGE HERO */
[data-section="homepage-hero"] {
    overflow: visible;
    background-color: var(--color-gray-dark);
}

[data-section="homepage-hero"] .sc-inner {
    min-height: calc(100svh - var(--header-height));
    display: flex;
    flex-direction: column;
}

[data-section="homepage-hero"] .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-4xl);
}

[data-section="homepage-hero"] .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    background-color: var(--color-white);
    padding: var(--spacing-lg);
    border-radius: 1rem;
    width: 100%;
    max-width: 73rem;
    color: var(--color-mid-gray);

    .fields {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-xs);
    }

    .subfield.country-code {
        width: 7rem;

        .popup {
            width: 25rem;
        }
    }

    .country-select {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-3xs);
    }

    .popup-search {
        --input-spacing-y: 0;
        --input-height: 3.2rem;
        font-size: var(--font-size-extra-small);
        line-height: var(--line-height-extra-small);
        padding: var(--spacing-5xs) var(--spacing-3xs);
    }

    .country-list {
        --mask-box-image-offset: var(--spacing-md);
        max-height: 30rem;
        overflow-y: auto;
        padding-bottom: var(--mask-box-image-offset);
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -ms-scroll-chaining: none;
        overscroll-behavior: contain;
        -webkit-mask-box-image: -webkit-linear-gradient(
            -90deg,
            white calc(100% - var(--mask-box-image-offset)),
            transparent 100%
        );
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .country-item {
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--spacing-3xs);
        padding: var(--spacing-5xs) var(--spacing-3xs);
        cursor: pointer;
        border-bottom: 1px solid #eee;
        color: var(--color-black);
        font-size: var(--font-size-extra-small);
        line-height: var(--line-height-extra-small);

        &:last-child {
            border-bottom: none;
        }
    }

    .country-item:hover {
        background: #f5f5f5;
    }

    .country-item img,
    .popup-trigger-button img {
        width: 2rem;
        aspect-ratio: 3 / 2;
        object-fit: contain;
    }

    .popup-trigger-button {
        display: flex;
        align-items: center;
        gap: var(--spacing-3xs);
        color: var(--color-mid-gray);

        &.active {
            color: var(--color-black);
        }
    }

    .country-name {
        flex: 1;
    }

    .accept-terms {
        text-wrap: balance;
        grid-column: span 2;
    }

    .experience-field .country-list {
        --mask-box-image-offset: 0;
    }
}

[data-section="homepage-hero"] .contact-form .field:has(.subfield) {
    display: flex;
    gap: var(--spacing-3xs);
}

/* PHONE */
[data-section="phone"] .sc-ttl {
    margin-bottom: var(--gap-section);
}

[data-section="phone"] .phone-wrapper {
    aspect-ratio: 0.9680511182;
    width: max(42.08333333333vw, 60.6rem);
    margin: 0 auto;
    position: relative;

    .media {
        width: 100%;
        height: 100%;
    }
}

[data-section="phone"] .phone-item {
    --offset: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xs);
    width: 18rem;
    position: absolute;
    z-index: 10;

    .media {
        width: 10rem;
        height: auto;
        aspect-ratio: 1;

        *:is(img, video) {
            object-fit: contain;
        }
    }

    &:nth-child(1) {
        top: 0;
        left: calc(var(--offset) * -1);
        transform: translateX(-100%);
    }

    &:nth-child(2) {
        top: 0;
        right: calc(var(--offset) * -1);
        transform: translateX(100%);
    }

    &:nth-child(3) {
        top: 44.7%;
        left: calc(var(--offset) * -1);
        transform: translateX(-100%);
    }

    &:nth-child(4) {
        top: 44.7%;
        right: calc(var(--offset) * -1);
        transform: translateX(100%);
    }
}

/* PRIZE */
[data-section="prize"] {
    background-color: var(--color-white);
}

[data-section="prize"] .card-container {
    --column: 3;
    --gap-x: var(--spacing-sm);
    width: calc(100% + var(--gap-x));

    .swiper {
        overflow: visible;
    }

    .swiper-slide {
        height: auto;
    }
}

.card[data-card="prize"] {
    padding: var(--spacing-lg) var(--spacing-sm);
    height: 100%;
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--color-light-gray);
    text-transform: uppercase;
    text-align: center;

    .prize-media {
        width: 10rem;
        aspect-ratio: 1;
    }

    .prize-subttl {
        flex-grow: 1;
        max-width: 16rem;
    }
}

/* LEADERBOARD */
[data-section="leaderboard"] .content {
    display: flex;
    gap: var(--spacing-4xl);
    width: 100%;

    .prizes {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
    }

    .leader-board {
        width: 50%;
        flex-shrink: 0;

        .leaderboard-subttl {
            margin-top: var(--spacing-sm);
        }
    }
}

.card[data-card="prize-hrz"] {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    border-radius: 2rem;
    background-color: var(--color-white);
    padding: var(--spacing-lg);
    padding-right: 13rem;
    overflow: hidden;
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);

    .prize-media {
        width: 10rem;
        aspect-ratio: 1;
    }

    .prize-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
        text-transform: uppercase;

        .prize-ttl pre {
            display: inline;
            font-size: var(--font-size-tiny);
            line-height: 1;
            text-transform: lowercase;
            vertical-align: super;
            position: relative;
            top: 0;
            background: -webkit-linear-gradient(0deg, #d8ad4f 0%, #d8ad4f 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .prize-badge {
        transform: translate(25%, -50%) rotate(45deg);
        background: -webkit-linear-gradient(0deg, #fcd678 0%, #bc8c2f 100%);
        position: absolute;
        top: 4rem;
        right: 0;
        width: 16.8rem;
        height: 4.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

[data-section="leaderboard"] .leaderboard-list {
    margin-top: var(--spacing-lg);

    .leaderboard-item {
        padding: 1.5rem var(--spacing-xs);
        border-bottom: 1px solid #dedede;
        display: flex;
        justify-content: space-between;

        &:first-child {
            font-weight: 700;
            color: var(--color-dark-red);
        }

        .item-name {
            color: var(--color-gray-dark);
        }

        .item-gain {
            width: 8.8rem;
            font-weight: 700;
        }
    }
}
