/* MEDIA QUERIES:MIN ==================== */
@media (min-width: 992px) {
}

/* MEDIA QUERIES:MAX ==================== */
@media (max-width: 991px) {
    /* PAGE: HOMEPAGE */
    /* HOMEPAGE HERO */
    [data-section="homepage-hero"] .container {
        gap: var(--spacing-lg);
    }

    [data-section="homepage-hero"] .contact-form {
        padding: var(--spacing-2sm) var(--spacing-sm);
        gap: var(--spacing-sm);
        border-radius: 0.5rem;
        max-width: unset;
        width: auto;

        .fields {
            grid-template-columns: 1fr;
            gap: var(--spacing-3xs);
        }

        .country-list {
            max-height: 25rem;
        }

        .accept-terms {
            grid-column: span 1;
        }
    }

    /* PHONE */
    [data-section="phone"] .sc-ttl {
        margin-bottom: var(--spacing-sm);
    }

    [data-section="phone"] .phone-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-md);
        width: 100%;
        max-width: 50rem;

        .media {
            margin-top: var(--spacing-md);
            grid-column: span 2;
            width: 100%;
            height: auto;
            aspect-ratio: 1;
        }
    }

    [data-section="phone"] .phone-item {
        gap: var(--spacing-2xs);
        width: 13rem;
        position: static;
        place-self: center;

        .media {
            width: 100%;
            height: auto;
            aspect-ratio: 1;

            *:is(img, video) {
                object-fit: contain;
            }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
            transform: unset;
        }
    }

    /* PRIZE */
    [data-section="prize"] .card-container {
        --column: 2;
        --gap-x: var(--spacing-xs);
    }

    /* LEADERBOARD */
    [data-section="leaderboard"] .content {
        flex-direction: column;
        gap: var(--spacing-xl);

        .prizes {
            gap: var(--spacing-xs);
        }

        .leader-board {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    /* PAGE: HOMEPAGE */
    /* PRIZE */
    [data-section="prize"] .card-container {
        --column: 1.05;
        --gap-x: var(--spacing-3xs);
        width: calc(100% + var(--gap-x));
    }
}

@media (max-width: 575px) {
    /* PAGE: HOMEPAGE */
    /* PRIZE */
    .card[data-card="prize-hrz"] {
        flex-direction: column;
        align-items: flex-start;
        padding: var(--spacing-md) var(--spacing-sm);
        padding-right: var(--spacing-sm);

        .prize-content {
            width: 100%;

            .winner-detail {
                display: flex;
                gap: var(--spacing-5xs) var(--spacing-xs);
                flex-wrap: wrap;
            }
        }
    }
}
